name: Tests

on:
  push:

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install system dependencies
        run: sudo npx playwright install-deps

      - name: Install Python deps
        run: |
          pip install -r requirements.txt
          python -m playwright install

      - name: Run tests
        run: pytest tests/

      # - name: Upload failure logs
      #   uses: actions/upload-artifact@v4
      #   if: failure()
      #   with:
      #     name: logs
      #     path: logs/
